@charset "UTF-8";

/* CSS para impressora */

* {
    margin: 5px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article {
    width: 95vw;
}

article::after {
    content: 'Esse artigo foi impresso através do site www.milenamilho.com';
}